h1{
    color: white;
    font-style: initial;
    background-color: black;
}
.barrinha{
    background-color: black;
    height:50px ;
    width:100% ;
}
h2{
    color: white;
    text-align: center;
    font-style: initial;

}




